<h1>Your Account Has Been Approved</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>Your account at StockPulse has been approved by the admin.</p>
  <p>You can now log in and access your account.</p>
  <p>Thank you for choosing StockPulse.</p>