<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <% if !current_user.is_approved %>
        <div class="alert alert-warning mt-3">
            <p> <strong> Your application is waiting for admin approval. </strong></p>
        </div>
        <% end %>
    <% if current_user.is_approved?  %>    
      <h1 class="text-center">Owned Stocks</h1>
      <% if @owned_stocks.any? %>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-secondary text-white"> 
              <th>Stock Symbol</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @owned_stocks.each do |stock| %>
              <tr>
                <td><%= stock.symbol %></td>
                <td><%= @owned_quantities[stock] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-center">You don't currently own any stocks.</p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
